.add-food-card-header
  span.add-food-card-name #{name}
  if brand
    span ,&nbsp;
  span.add-food-card-brand #{brand}
p.add-food-card-info Calories: #{calories} | Proteins: #{proteins} | Fats: #{fats} | Carbs: #{carbs}
